@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, button, input, select, textarea {
    font-family: 'poppins', sans-serif;

}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --dark-nlue: #3b3b3b;
    --light-gray: #bfbfc1;
}

h1{
    font-size: 60px;
    font-weight: 100;
    margin: 0;
}
h3 {
    font-weight: 300;
    margin: 0;
}

.iphone-container {
    width: 330px;
    height: 630px;
    background-color: var(--dark-nlue);
    border-radius: 30px;
    border: 15px solid #111;
    position: relative;
    color: white;
    text-align: center;
    padding: 80px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iphone-container .notch {
    height: 18px;
    width: 180px;
    background: #111;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    top: 0;
    left: calc(50% - 90px);
}

.iphone-container .iphone-menu {
    height: 2px;
    width: 90px;
    border-radius: 5px;
    background: var(--light-gray);
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);
}


.iphone-container .top-icon {
    width: 70px;
    height: 70px;
}

.iphone-container .city-name {
    font-weight: 100;
    color: var(--light-gray);
    margin: 0;
}

.iphone-container .week {
    display: flex;
    justify-content: space-between;
    
}

.iphone-container .week .day{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone-container .week .temperature {
    margin-top: 12px;
    font-weight: 100;
    font-size: 15px;
}

.iphone-container .footer {
    
    display: flex;
    justify-content: space-between;
}

.iphone-container .footer svg {
    width: 40px;
    height: 40px;
}
