<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <span v-if="isUnderAge">Você precisa ser maior de 18 Anos</span>
        <span v-else-if="isOld">Você é muito velhor para beber</span>
        <template v-else>
            <span>Veja os items:</span>
            <ul>
                <li>cachaça</li>
                <li>Black Label</li>
            </ul>
        </template>
        <ul>
            <li v-for="user in adultUsers">
                {{ user.name }}
            </li>
                
        </ul>


    </div>

    <script src="computed.js"></script>
</body>
</html>